@model TestSuite.TestManagement.Web.ViewModels.TestCaseViewModel
@{
    ViewBag.Title = "Test Cases";
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval"))
}
<div class="page-header">
    <h1>Test Cases</h1>
</div>
@Html.ValidationSummary(false, null, new { @class = "alert alert-danger" })

@using (var form = Html.BeginForm("Create", "TestCase", FormMethod.Post, new { @class = "form-inline" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
    </div>
}
@if (Model.TestCases.Any())
{
    <br />
    <table class="table table-hover">
        <thead class="thead-default">
            <tr>
                <th></th>
                <th>Test Case</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var testCase in Model.TestCases)
        {
            <tr>
                <td class="col-sm-1 text-right">
                    <span class="fa fa-question-circle text-muted" title="New" />
                    @*<span class="fa fa-check-circle text-success" title="Passed"/>
                    <span class="fa fa-times-circle text-danger" title="Failed" />
                    <span class="fa fa-exclamation-circle text-warning" title="Not Executed" />*@
                </td>
                <td class="col-sm-9">@testCase.Name</td>
                <td class="col-sm-2 text-left text-nowrap">@testCase.CreatedDateTime</td>
            </tr>
        }
        </tbody>
    </table>
}